/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~bootstrap/dist/css/bootstrap.css";

mat-dialog-container {
    background: white !important;
    padding: 0;
    margin: 0;
  }
  
  .cdk-overlay-container::ng-deep {
    z-index: 999999999999999999999999999999999 !important;
  }
  